* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.people {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px 0 0 30px;
}

img {
max-width: 200px;
max-height: 200px;
border-radius: 50%;
}

.person {
	margin: 0 30px 40px 0;
}

.photo {
	position: relative;
}

.rank {
	position: absolute;
	right: 10px;
	top: 84px;
	border-radius: 50%;
	background-color: white;
	padding: 7px 12px;
	font-size: 16px;
    line-height: 18px;
    font-weight: bold;
	color:#8B0000;
}

.name {
    font-size: 20px;
    line-height: 23px;
    color: #2F4F4F;
    font-weight: bold;
}

.details {
	text-align: center;
}

.extra {
	font-size: 0;
}

.person:hover {
	transition: 1s;
	background-color: #EEEEEE;
	border-radius: 10px;
	line-height: 21px;
	padding: 10px 10px 16px;
	margin-bottom: 0;
	margin-right: 20px;
}

.person:hover .extra {
	font-size: 18px;
}

